<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>reTail // home</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/retail.css') }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon.png') }}">

  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"  media="screen">
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

</head>

<style>
      /*label {
        border: 1px solid;
      }*/
</style>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container" style="padding-right:0;padding-left:0">
      <a class="navbar-brand" href=".."><img src="/static/images/logo.png" height="28" alt="reTail logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">buy
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sell">sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="track">track</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="history" style="padding-right:0">history</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

<!-- Page Content -->
<div class="container">

        <!-- <div class="row"> -->

          <!-- <div class="col-xs-3" style="padding-top: 3%"> -->

            <!-- <h1 class="my-4">Shop Name</h1> -->
            <!-- <div class="list-group">
              <a href="#" class="list-group-item">Category 1</a>
              <a href="#" class="list-group-item">Category 2</a>
              <a href="#" class="list-group-item">Category 3</a>
            </div> -->
              <form action='search' method='get'>
                  <div class="row">
                        <div class="col-lg-7" style="padding-top:2%">
                            <h4>Welcome to reTail :)</h4>
                        </div>
                        <div class="col-lg-5" style="padding-top: 3%">
                            <div class="row">
                                <span style="float:left; width:calc(100% - 100px);"><input type="text" class="form-control" name='string' value='{{lastSearch}}'></span>
                                <span style="float:right"><button type="submit" class="btn btn-primary">Search</button></span>
                            </div>
                            <div class="row" style="padding-top:2%">
                                <span style="float:left; width:calc(30%);"><input type="text" class="form-control" name='minprice' value='{{minPrice}}'></span>
                                <span style="float:left; width:calc(30%);"><input type="text" class="form-control" name='maxprice' id='string2' value='{{maxPrice}}'></span>
                                <label for="string2" style="padding-left:1%; padding-top:1%; width:calc(39%);">Price Range</label>
                            </div>
                        </div>
                  </div>
              </form>
          <!-- </div> -->
          <!-- /.col-lg-3 -->
        <!-- </div> -->

        <!-- <div class="row"> -->

            <!-- <div class="col-xs-3" style="margin-bottom: 30px"> -->
                    <div class="row" style="padding-top: 5%">
                          {% for i in range(5): %}
                              <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card2 h-100">
                                          <a href="item?itemid=0">
                                            {% if '' != '' %}
                                              <img class="card-img-top" src="/static/images/available/imageeeeeeeeeeeeeeeeeeeeee" alt="">
                                            {% else %}
                                              <img class="card-img-top" src="/static/images/reTail_sell_default.png" alt="">
                                            {% endif %}
                                          </a>
                                          <div class="card-body">
                                                <h4 class="card-title">
                                                  <a href="item?itemid=0">6</a>
                                                </h4>
                                                <h5>$3</h5>
                                                <p><i>1</i></p>
                                                <p class="card-text">5</p>
                                          </div>
                                          <div class="card-footer">
                                                <p>seller: <h7><i>2</i></h7></p>
                                          </div>
                                    </div>
                              </div>
                          {% endfor %}  
                    </div>
                    <!-- /.row -->
              <!-- </div> -->
              <!-- /.col-lg-9 -->
        <!-- </div> -->
        <!-- /.row -->

</div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-0 bg-white fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-dark"><small>copyright &copy; reTail 2019 with search enhanced by DataMuse and</small> 
      <img src="/static/images/merriam_webster.png" alt="webster tag" height="50" width="50"></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- <script>
    function setup() 
  {
    $('#search_box').focus();
      $('#search_box').on('input', get_results);
      get_results()
      // $('#resultsArea').html("testing")
  }

  function populate_results(response)
  {
    $('#resultsArea').html(response)
  }

  let request = null;
  function get_results()
  {
    // send get request with 4 inputs to server to populate page
    let search_query = $('#search_box').val();
    
        search_query = encodeURIComponent(search_query);

        let url = '/search?' + 'string=' + search_query
        if (request != null)
           request.abort();
        request = $.ajax(
           {
              type: "GET",
              url: url,
              success: populate_results
           }
        );
  }

  $('document').ready(setup);
  </script> -->

</body>

</html>
